body {
    background-color: rgb(127, 212, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
    transition: background-color 1.5s ease;

}

#start {
    height: 100px;
    width: 200px;
    font-size: xx-large;
    font-family:'Helvetica Neue';
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}

#stop {
    height: 100px;
    width: 200px;
    font-size: xx-large;
    font-family:'Helvetica Neue';
    background-color: rgb(223, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}
